
body {
  background-color: #f9f9f9;
  transition: background-color 0.4s, color 0.4s;
}

li {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    transition: background-color 0.4s, color 0.4s;
    display: flex;
    justify-content: space-between;
}

li button {
  margin-left: 5px;
}

.done {
  text-decoration: line-through;
}


.dark-mode {
  background-color: #201d1d;
  color: #f9f9f9;
}

.dark-mode li {
  background-color: #222;
}

.dark-mode li:hover {
  background-color: #444;
}
